<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{{url_for('static',filename='viewPolicies.css')}}">
    <title>View Policies</title>
</head>
<body>

  
<div class="sanlamLogo">
    <a href="/home" class="logo"> 
        <img src="https://www.sanlam.co.za/Style%20Library/img/sanlam-logo.png" alt="Sanlam" style="width:150px; height:35px">
    </a>
</div>

<div class="titleContainer">
    <h1>Insurance Policies</h1>
</div>

<div class="headingContainer">
        <a class="headings" href="https://www.sanlam.co.za/Pages/default.aspx">Sanlam Home</a>
        <a class="headings" href="https://www.sanlam.co.za/mediacentre/Pages/default.aspx#Default=%7B%22k%22%3A%22%22%2C%22r%22%3A%5B%7B%22n%22%3A%22comMediacategory%22%2C%22t%22%3A%5B%22%5C%22%C7%82%C7%82457870657274204f70696e696f6e73%5C%22%22%5D%2C%22o%22%3A%22and%22%2C%22k%22%3Afalse%2C%22m%22%3Anull%7D%5D%7D">Sanlam Media</a>
        <a class="headings" href="https://www.sanlam.co.za/about/Pages/default.aspx#strategy">About Sanlam</a>
</div>
<div class="rule">
   <hr>
</div>

<div class="messageContainer">
  <h1> We have an insurance policy to suit your every need, find the one for you below</h1>
</div>

<div class="tableContainer">
  <table>
    <tr>
      <th> Policy name</th>
      <th> Policy category</th>
      <th> Monthly preimium</th>
    </tr> 
    {% for policy in policies %}
    <tr>
        <td>{{ policy[0] }}</td>
        <td>{{ policy[1] }}</td>
        <td>{{ policy[2] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="buttonContainer">
  <form action="/home" style="text-align:center">
    <button class="button button2" type="submit" value="viewPolicies"><h2 style="padding: 20px;color:white;font-weight:bold;">
      Login here to take out a policy &#8594</h2>
    </button>
  </form>
</div>
<footer>
    <hr><br>
    Sanlam Ltd. &#169
</footer>
</body>
</html>
